<div>
  <div>
    <form class="form-horizontal" name="typeForm" ng-submit="submit()">
	<fieldset>  
	  <legend>Main</legend>
	  <div class="control-group">
	    <label class="control-label" for="type">Name</label>
	    <div class="controls">
		<input id="type" name="type" class="input-large" required="" type="text" ng-model="audit.name" readonly="readonly">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="textarea">Query</label>
	    <div class="controls">                     
		<textarea id="textarea" name="textarea" ng-model="audit.query"></textarea>
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="textarea">Description</label>
	    <div class="controls">                     
		<textarea id="textarea" name="textarea" ng-model="audit.description"></textarea>
	    </div>
	  </div>


	  <div class="control-group">  
	    <label class="control-label" for="type">Type</label>  
	    <div class="controls">  
		<select id="type"  ng-model="audit.type">  
		  <option>kibana</option>  
		</select>  
	    </div>  
	  </div>
	</fieldset>  

	<!-- <div ng&#45;include src="provisionerTemplate"></div> -->

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Save audit</button>
	  <button type="button" class="btn btn-danger" ng-click="remove()">Delete Audit</button>
	</div>
    </form>
  </div>
</div>	
