<div>
  <div>
    <form>
	<fieldset>  
	  <legend>Type</legend>
	  <div class="control-group">  
	    <label class="control-label" for="hypervisor">Hypervisor type</label>  
	    <div class="controls">  
		<select id="hypervisor"  ng-model="system.hypervisor">  
		  <option>Proxmox</option>  
		  <option>Aws</option>  
		  <option>vCenter</option>  
		</select>  
	    </div>  
	    <div class="control-group">  
		<label class="control-label" for="env">Environment</label>  
		<div class="controls">  
		  <select id="multiSelect" ng-model="system.env">  
		    <option>Production</option>  
		    <option>Qa</option>  
		    <option>Development</option>  
		  </select>  
		</div>  
	    </fieldset>  

	    <div ng-include src="hypervisorTemplate"></div>

	  </form>
	</div>
    </div>	
