<div>
  <div>
    <form class="form-horizontal" name="systemForm" ng-submit="submit()">
	<fieldset>  
	  <legend>Type</legend>

	  <div class="control-group">  
	    <label class="control-label" for="type">System type</label>  
	    <div class="controls">  
		<select id="type"  name="type" ng-model="type" ng-options="type for type in types" > </select>
	    </div>  
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="hypervisor">Hypervisor type</label>  
	    <div class="controls">  
		<select id="hypervisor"  ng-model="currentHypervisor">  
		  <option>proxmox</option>  
		  <option>aws</option>  
		  <option>vcenter</option>  
		</select>  
	    </div>  
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="env">Environment</label>  
	    <div class="controls">  
		<select id="type"  name="type" ng-model="env" ng-options="env for env in envs"> </select>
	    </div>  
	  </div>
	</fieldset>  

	<div ng-include src="hypervisorTemplate"></div>

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Save system</button>
	</div>
    </form>
  </div>
</div>	
