<fieldset>
  <!-- Form Name -->
  <legend>Proxmox</legend>


  <!-- Password input-->
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
	<input id="password" name="password" placeholder="" class="input-large" required="" type="password" ng-model="hypervisor.proxmox.password">
	<p class="help-block">Container password</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="node">Node</label>
    <div class="controls">
	<input id="node" name="node" placeholder="" class="input-large" required="" type="text"  ng-model="hypervisor.proxmox.node">
	<p class="help-block">Proxmox node</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="type">Type</label>
    <div class="controls">
	<select id="type" name="type" class="input-large"  ng-model="hypervisor.proxmox.type">
	  <option>ct</option>
	</select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="features">Features</label>
    <div class="controls">
	<input id="features" name="features" placeholder="" class="input-large" type="text" ng-model="hypervisor.proxmox.features">
	<p class="help-block">Enabled features</p>
    </div>
  </div>


  <legend>Machine</legend>

  <div class="control-group">
    <label class="control-label" for="user">User</label>
    <div class="controls">
	<input id="user" name="user" type="text" placeholder="" class="input-large" required="" ng-model="machine.user">
	<p class="help-block">Machine user</p>
    </div>
  </div>

  <div class="control-group">  
    <label class="control-label" for="env">OS</label>  
    <div class="controls">  
	<select id="type"  name="type" ng-model="machine.os" ng-options="os for os in oses"> </select>
    </div>  
    <p class="help-block">Operating system</p>
  </div>

  <div class="control-group">
    <label class="control-label" for="cpus">CPUs</label>
    <div class="controls">
	<input id="cpus" name="cpus" type="number" min="1" placeholder="" class="input-large" required="" ng-model="machine.cpus">
	<p class="help-block">Number of CPUs</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="memory">Memory</label>
    <div class="controls">
	<input id="memory" name="memory" min="16" type="number" placeholder="" class="input-large" required="" ng-model="machine.memory" >
	<p class="help-block">Memory in MB</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="disk">Disk</label>
    <div class="controls">
	<input id="disk" name="disk" type="number" min="1" placeholder="" class="input-large" required="" ng-model="machine.disk">
	<p class="help-block">Disk size in GB</p>
    </div>
  </div>

  <legend>Networking</legend>
  <div class="control-group">
    <label class="control-label" for="ip">IP</label>
    <div class="controls">
	<input id="ip" name="ip" type="text" placeholder="" class="input-large" ng-model="machine.ip">
	<p class="help-block">IP address</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="hostname">Hostname</label>
    <div class="controls">
	<input id="hostname" name="hostname" type="text" placeholder="" class="input-large" required="" ng-model="machine.hostname">
	<p class="help-block">Machine hostname</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="domain">Domain</label>
    <div class="controls">
	<input id="domain" name="domain" type="text" placeholder="local" class="input-large" required="" ng-model="machine.domain">
	<p class="help-block">Machine domain</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="nameserver">Nameserver</label>
    <div class="controls">
	<input id="nameserver" name="nameserver" placeholder="8.8.8.8" class="input-medium" required="" type="text" ng-model="hypervisor.proxmox.nameserver">
	<p class="help-block">DNS nameserver</p>
    </div>
  </div>

  <legend>Bridging</legend>
  <div class="control-group">
    <label class="control-label" for="gateway">Gateway</label>
    <div class="controls">
	<input id="gateway" name="gateway" type="text" placeholder="" class="input-large" ng-model="machine.gateway">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="gateway">Netmask</label>
    <div class="controls">
	<input id="netmask" name="netmask" type="text" placeholder="" class="input-large" ng-model="machine.netmask">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="gateway">Bridge</label>
    <div class="controls">
	<input id="bridge" name="bridge" type="text" placeholder="vmbr0" class="input-large" ng-model="machine.bridge">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="gateway">Interface</label>
    <div class="controls">
	<input id="interface" name="interface" type="text" placeholder="eth0" class="input-large" ng-model="machine.interface">
    </div>
  </div>
</fieldset>


