<div>
  <div class="modal-header">
    <h2>Please confirm!</h2>
  </div>
  <div class="modal-body">
    <h4> You are about to run {{job}} on: {{target}} </h4>
    <p> Note that all action are logged for future auditing</p>
    <div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>

    <label class="checkbox inline" for="skip">
	<input type="checkbox" name="skip" id="skip" ng-model="state.skip"> skip
    </label>

  </div>
</div>
