<div>
  <div>
    <form class="form-horizontal" name="typeForm" ng-submit="submit()">
	<fieldset>  
	  <legend>Main</legend>
	  <div class="control-group">
	    <label class="control-label" for="type">Type</label>
	    <div class="controls">
		<input id="type" name="type" class="input-large" required="" type="text" ng-model="typeId" readonly="readonly">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="textarea">Description</label>
	    <div class="controls">                     
		<textarea id="textarea" name="textarea" ng-model="type[provisioner].description"></textarea>
	    </div>
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="provisioner">Provisioner type</label>  
	    <div class="controls">  
		<select id="provisioner" ng-model="provisioner">  
		  <option>puppet-std</option>  
		</select>  
	    </div>  
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="env">Environment</label>  
	    <div class="controls">  
		<select id="env"  name="env" ng-model="env" ng-options="env for env in envs"> </select>
	    </div>  
	  </div>
	</fieldset>  

	<div ng-include src="provisionerTemplate"></div>

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Update Type</button>
	  <button type="button" class="btn btn-danger" ng-click="remove()">Delete Type</button>
	</div>
    </form>
  </div>
</div>	
