<div class="panel panel-default"> 
  <div class="panel-heading"> 
    <h3 class="panel-title"> System </h3>
  </div>

  <div class='panel-body'> 
    <p> 
	<div class="btn-group pull-right">
	  <a class="btn" href="" disabled><i class="fa fa-list-ul"></i></a>
	  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	    <span class="fa fa-caret-down"></span></a>
	  <ul class="dropdown-menu">

	    <li ng-repeat="op in constructive | filter:'!run-action' | filter:'!clone'">
	    <a href="" ng-click="launchJob(system.id,op)" tooltip-placement="left" 
		tooltip="{{Operations[op].tooltip}}">
		<i class="fa-fixed-width fa {{Operations[op].icon}}"> </i> {{op}}</a>
	    </li>

	    <li><a href="/#/systems/clone/{{system.id}}" tooltip-placement="left" tooltip="Clone an existing machine"><i class="fa-fixed-width fa fa-copy" ></i> Clone</a></li>

	    <li class="divider"></li>
	    <li ng-repeat="op in destructive | filter:'!run-action'">
	    <a href="" ng-click="launchJob(system.id,op)" tooltip-placement="left" 
		tooltip="{{Operations[op].tooltip}}">
		<i class="fa-fixed-width fa {{Operations[op].icon}}"> </i> {{op}}</a>
	    </li>



	  </ul>
	</div>

	<h2 ng-show="system.description">Description:</h2>

	{{system.description}}

	<h2>System info:</h2>
	<table class="table table-bordered" >
	  <thead>
	    <tr>
		<th>Section</th>
		<th>Property</th>
		<th>Value</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>		
		<td rowspan='2'>Access control</td>
		<td>Environment</td>
		<td>{{system.env}}</td>
	    </tr>
	    <tr>		
		<td>Owner</td>
		<td>{{system.owner}}</td>
	    </tr>
	    <tr>		
		<td rowspan='1'></td>
		<td>Type</td>
		<td>{{system.type}}</td>
	    </tr>
	  </tbody>
	</table>
	<div ng-include src="headerTemplate"></div>
    </p>
  </div>
</div>
