<div>
  <div>
    <form class="form-horizontal" name="typeForm" ng-submit="submit()">
	<fieldset>  
	  <legend>Main</legend>
	  <div class="control-group">
	    <label class="control-label" for="type">Type</label>
	    <div class="controls">
		<input id="type" name="type" class="input-large" required="" type="text" ng-model="typeId">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="textarea">Description</label>
	    <div class="controls">                     
		<textarea id="textarea" name="textarea" ng-model="type.description"></textarea>
	    </div>
	  </div>


	  <div class="control-group">  
	    <label class="control-label" for="provisioner">Provisioner type</label>  
	    <div class="controls">  
		<select id="provisioner"  ng-model="currentProvisioner">  
		  <option>puppet-std</option>  
		</select>  
	    </div>  
	  </div>
	</fieldset>  

	<!-- <div ng&#45;include src="provisionerTemplate"></div> -->

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Save type</button>
	</div>
    </form>
  </div>
</div>	
