<div>
  <div>
    <form class="form-horizontal" name="actionForm" ng-submit="submit()">
	<fieldset>  
	  <legend>Action</legend>

	  <div class="control-group">
	    <label class="control-label" for="name">Name</label>
	    <div class="controls">
		<input id="name" name="name" class="input-large" required="" type="text" ng-model="action.name">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="textarea">Description</label>
	    <div class="controls">                     
		<textarea id="textarea" name="textarea" ng-model="action.description"></textarea>
	    </div>
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="operatesOn">Target type</label>  
	    <div class="controls">  
		<select id="operatesOn" ng-model="action['operates-on']" disabled> </select>
	    </div>  
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="env">Environment</label>  
	    <div class="controls">  
		<select id="env"  name="env" ng-model="action.env" ng-options="env for env in envs"> </select>
	    </div>  
	  </div>


	  <div class="control-group">  
	    <label class="control-label" for="remoter">Remoter type</label>  
	    <div class="controls">  
		<select id="remoter"  ng-model="action.type" disabled>  
		  <option>capistrano</option>  
		  <option>ruby</option>  
		</select>  
	    </div>  
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="args">Arguments</label>
	    <div class="controls">
		<textarea id="args" name="args" ng-model="action.args" required="" ></textarea>
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="src">Source url</label>
	    <div class="controls">
		<input id="src" name="src" class="input-large" required="" type="text" ng-model="action.src">
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="src">Timeout (sec)</label>
	    <div class="controls">
		<input id="timeout" required=""  type="number" min="1" name="timeout" class="input-large" type="text" ng-model="action.timeout">
	    </div>
	  </div>

	</fieldset>  

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Update action</button>
	  <button type="button" class="btn btn-danger" ng-click="remove()">Delete action</button>
	</div>
    </form>
  </div>
</div>	
