<div>
  <div>
    <form class="form-horizontal" name="typeForm" ng-submit="submit()">
	<fieldset>  
	  <legend>User</legend>
	  <div class="control-group">
	    <label class="control-label" for="username">Name</label>
	    <div class="controls">
		<input id="username" name="username" class="input-large" required="" type="text" ng-model="user.username" readonly="readonly">
	    </div>
	  </div>

	  <div class="control-group">  
	    <label class="control-label" for="provisioner">Password</label>  
	    <div class="controls">  
		<input id="password" name="password" placeholder="" class="input-large" type="password" ng-model="user.password" >
	    </div>  
	  </div>
	</fieldset>  

	<div class="control-group">  
	  <label class="control-label" for="type">Role</label>  
	  <div class="controls">  
	    <select id="role"  name="role" ng-model="user.roles" ng-options="role for role in roleKeys" > </select>
	  </div>  
	</div>

	<div class="control-group">
	  <label class="control-label" for="envs">Environments</label>
	  <div class="controls">
	    <select multiple name="envs" ng-model="user.envs" required="true" ng-options="env for env in envs"> </select>
	    <p class="help-block">Select multiple items</p>
	  </div>
	</div>

	<div class="control-group">
	  <label class="control-label" for="operations">Operations</label>
	  <div class="controls">
	    <select multiple ng-model="user.operations" ng-options="op for op in operations" required="true">
	    </select>
          <p class="help-block">Select multiple items</p>
	  </div>
	</div>

	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Update User</button>
	  <button type="button" class="btn btn-danger" ng-click="remove()">Delete User </button>
	</div>
    </form>
  </div>
</div>	
