<div class="panel panel-default">
  <div class="panel-heading"> 
    <h3 class="panel-title"> Jobs </h3>
  </div>

  <div class='panel-body'> 
  <h4> Running operations:</h4>
    <table class="table striped">
	<thead>
	  <tr>
	    <th>System id</th>
	    <th>Queue</th>
	    <th>Status</th>
	    <th>Transaction id</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="job in jobs">
	    <td><a href="#/system/{{job.id}}">{{job.id}}</a></td>
	    <td>{{job.type}}</td>
	    <td>{{job.status}}</td>
	    <td><a href="{{job['tid-link']}}">{{job.tid}}</a></td>
	  </tr>
	</tbody>
    </table>

    <hr/>
    <h4> Finished operations:</h4>
    <table class="table table-striped">
	<thead>
	  <tr>
	    <th>System id</th>
	    <th>Start</th>
	    <th>End</th>
	    <th>Queue</th>
	    <th>Status</th>
	    <th>Transaction id</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="job in statuses" class="{{job.status}}";>
	    <td><a href="#/system/{{job.identity}}">{{job.identity}}</a></td>
	    <td>{{job.start}}</td>
	    <td>{{job.end}}</td>
	    <td>{{job.queue}}</td>
	    <td>{{job.status}}</td>
	    <td><a href="{{job['tid-link']}}">{{job.tid}}</a></td>
	  </tr>
	</tbody>
    </table>
  </div>

</div>
