.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}

td{
   i {
     margin-right:25px;
     font-size:1em;
     &:hover{color:lightblue;}
   }
}
.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;
}

.growl{
  position:fixed;
  top:20%;
  left:40%;
  //float:right;width:250px
}
.growl-item.ng-enter,
.growl-item.ng-leave{
 -webkit-transition:.5s linear all;
 -moz-transition:.5s linear all;
 -o-transition:.5s linear all;
  transition:.5s linear all
}
.growl-item.ng-enter,.growl-item.ng-leave.ng-leave-active{
 opacity:0
}
.growl-item.ng-leave,.growl-item.ng-enter.ng-enter-active{opacity:1}

@import '../../vendor/bootstrap/less/pagination.less';
@import '../../vendor/bootstrap/less/tooltip.less';
@import '../../vendor/bootstrap/less/tables.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/alerts.less';
@import '../../vendor/bootstrap/less/component-animations.less';
@import '../../vendor/bootstrap/less/close.less';
@import '../../vendor/bootstrap/less/popovers.less';


