<div class="panel panel-default">
  <div class="panel-heading"> 
    <h3 class="panel-title"> Systems </h3>
  </div>
  <div class='panel-body'> 


    <table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Hostname</th>
	    <th>Type</th>
	    <th>Hypervisor</th>
	    <th>Environment</th>
	    <th>Description</th>
	    <th>Operations</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="system in systems">
	    <td><a href="#/system/{{system.id}}">{{system.id}}</a></td>
	    <td>{{system.machine.hostname}}</td>
	    <td>{{system.type}}</td>
	    <td>{{system.hypervisor}}</td>
	    <td>{{system.env}}</td>
	    <td>{{system.description}}</td>
	    <td>
		<div class="btn-group">
		  <a class="btn" href="" disabled><i class="icon-list-ul"></i></a>
		  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
		    <span class="icon-caret-down"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="" ng-click="launchJob(system.id,'create')" tooltip-placement="bottom" tooltip="Create a running machine"><i class="icon-fixed-width icon-plus" ></i> Create</a></li>
		    <li><a href="" ng-click="launchJob(system.id,'provision')" tooltip-placement="bottom" tooltip="Run provisioining"><i class="icon-fixed-width icon-gears" ></i> Provision</a></li>
		    <li><a href="" ng-click="launchJob(system.id,'stage')" tooltip-placement="bottom" tooltip="Create and Provision"><i class="icon-fixed-width icon-refresh" ></i> Stage</a></li>
		    <li><a href="" ng-click="launchJob(system.id,'start')" tooltip-placement="bottom" tooltip="Start the backing machine"><i class="icon-fixed-width icon-play" ></i> Start</a></li>
		    <li><a href="" ng-click="launchJob(system.id,'stop')" tooltip-placement="bottom" tooltip="Stop the backing machine"><i class="icon-fixed-width icon-stop" ></i> Stop</a></li>
		    <li class="divider"></li>
		    <li><a href="" ng-click="launchJob(system.id,'destroy')" tooltip-placement="bottom" tooltip="Destroy machine"><i class="icon-fixed-width icon-trash" ></i> Destroy</a></li>
		    <li><a href="" ng-click="launchJob(system.id,'reload')" tooltip-placement="bottom" tooltip="Destroy and re-create machine"><i class="icon-fixed-width icon-warning-sign" ></i> Reload</a></li>
		  </ul>
		</div>
	    </td>
	    <td> 
		<div class="btn-group" ng-hide="!system.actions">
		  <a class="btn" href="" disabled><i class="icon-list-ul"></i></a>
		  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
		    <span class="icon-caret-down"></span></a>
		  <ul class="dropdown-menu">
		    <li ng-repeat="action in system.actions"><a href="#" ng-click="launchAction(system.id,action)">{{action}}</a></li>
		  </ul>
		  </li>
		</ul>
	    </div>
	    </td>
	  </tr>
	</tbody>
    </table>

    <p class="text-right"> 
	<a href="#/system/add/" ><i class="icon-plus"></i>Add a System</a> 
    </p>


    <p class="text-center"> 
	<pagination boundary-links="true" total-items="count" page="currentPage" items-per-page="perPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </p>
  </div>
</div>

