<div class="panel panel-default">
  <div class="panel-heading"> 
    <h3 class="panel-title"> Actions </h3>
  </div>

  <div class='panel-body'> 
    <div class="control-group">  
	<label class="control-label" for="type">Target type</label>  
	<div class="controls">  
	  <select id="type" ng-model="currentType" ng-options="type for type in types"> </select>
	</div>  
    </div>

    <table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Remoter type</th>
	    <th>Run on</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="action in actions">
	    <td><a href="#/action/edit/{{action.id}}">{{action.id}}</a></td>
	    <td>{{action.type}}</td>
	    <td></td>
	  </tr>
	</tbody>
    </table>

    <p class="text-right"> 
	<a href="#/action/add/" ><i class="fa fa-plus"></i>Add an Action</a> 
    </p>


    <p class="text-center"> 
	<pagination boundary-links="true" total-items="count" page="currentPage" items-per-page="perPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </p>
  </div>
</div>

